@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  background-color: #F7F7F7 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}


.container {
  margin: 10px;
}

.componet-header {}

.steps {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px rgba(0, 0, 0, .12) !important;

}

.form-container {
  background: #fff;
  padding: 10px 10px;
  margin: auto !important;
  border-radius: 8px;
}


.ant-form-item-label {
  font-size: 12px !important;
  opacity: 0.7 !important;
  position: absolute !important;
  z-index: 100;
  padding: 5px 10px !important;
  line-height: 16px !important;
}



.search-tree-select .ant-select-selector {
  height: 50px !important;
  padding-top: 8px !important;
}

.ant-select-selector {
  border-bottom-color: #221f1f !important;
  padding-left: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  box-shadow: none !important;
  border-radius: 4px 4px 0px 0px !important;
  background-color: #f7f7f7 !important;
  font-size: 16px;
  width: 100% !important;
  padding-top: 20px;
  height: 25px !important;

}

.ant-menu-item-icon {
  padding-right: 10px;
}

.logo {
  display: flex;
  gap: 2px;
  align-items: center;
}

.file-uploader .ant-upload {
  width: 100% !important;
  height: 150px !important;
}

.ant-picker,
.ant-input {
  box-sizing: border-box;
  border-bottom-color: #221f1f !important;
  padding-left: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  box-shadow: none !important;
  border-radius: 4px 4px 0px 0px !important;
  background-color: #f7f7f7 !important;
  font-size: 16px;
  /* height: 45px !important; */
  width: 100% !important;
  padding-top: 20px;
  height: 45px !important;

}

.item-parent {
  padding-left: 20px !important;
}