@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  background-color: #F7F7F7 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.ant-menu-item-icon {
  padding-right: 10px;
}

.logo {
  display: flex;
  gap: 2px;
  align-items: center;

}


.all-cards {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 8px;
  padding: 20px;
  background: #fff;

}


.input-label {
  font-size: 12px;
  display: block;
  opacity: 0.7;
  position: absolute;
  z-index: 100;
  padding: 5px 16px;
  line-height: 16px;
}

.label-error {
  opacity: 1;
  color: #f5222d !important;
}

.input {
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none !important;
  border-radius: 4px 4px 0px 0px !important;
  padding: 26px 16px 8px !important;
  background-color: #F7F7F7;
  font-size: 16px;
  color: #221F1F;
  border-bottom-color: #221F1F !important;
  line-height: 20px;
}

.input-error {
  border-color: #f5222d !important;
}

.form-error {
  color: #f5222d;
  font-size: 12px;
  line-height: 16px;
  padding: 0px 16px;
}